<h1>Latest Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published At</th>
      <th>Sources</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= article.published_at.strftime("%B %d, %Y %H:%M") %></td>
        <td>
          <% article.sources.each do |source| %>
            <%= link_to source.name, source.url, target: "_blank" %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
